<h6>Dashbboard</h6>
<h3>Welcome {{name}}</h3>

<h4>Here are your Stories</h4>

{{#if stories}}
    <table class="stripped">
        <thead>
            <tr>
                <th>Title</th>
                <th>Date</th>
                <th>Status</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {{#each stories}}
                <tr>
                    <td><a href="/stories/{{_id}}"></a>{{title}}</td>
                    <td>{{createdAt}}</td>
                    <td><span class="dash-status">{{status}}</span></td>
                    <td>Edit and delete button here!! ( to be continued)</td>
                </tr>

            {{/each}}
        </tbody>
    </table>


{{else}}
<p>You have not created any stories as of now</p>

{{/if}}